<!-- MENU -->
<nav class="navbar navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <ul class="navbar-nav">
         <li class="nav-item" *ngFor="let c of categories$ | async">
        <a class="nav-link" 
        routerLink="/"
        [queryParams]="{category: c.$key}" 
        [class.active]="category === c.$key">{{c.name}}</a>
      </li>
      </ul>
    </div>
  </div>
</nav>